# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
bin/
.vscode/

# Compiled
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/
node_modules/
# OS
.DS_Store
Thumbs.db

# Database files (H2, HSQL, Derby)
*.db
*.mv.db
*.h2.db

# Environment/config files
application-local.properties
application-dev.properties